@font-face {
  font-family: 'Roboto';
  src:url(/static/fonts/Roboto-Thin.ttf);
}

body {
  -webkit-perspective: 1200;
  -webkit-perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%; 
  background-color: black;
  padding: 0; margin:0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

h1 {
 font-family: 'Roboto';
 font-size: 2em;
 padding-left: 10px;
 color: #33b5e5;
 border-bottom: solid 5px #33b5e5; 
}

#panel {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  -webkit-transition: 0.2s -webkit-transform ease-in-out;
  padding: 0; margin:0;
}

p {
  font-family: 'Roboto';
  color: white;
}
.x.axis line {
  shape-rendering: auto;
  stroke: #fff;
}

.text {
  stroke: #fff;
  font-family: 'Roboto';
}

.gear {
  stroke: white;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

.on {
  fill: red;
}

#status {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: black;
  color: #33b5e5;
  -webkit-transition: all 0.5s ease-in-out;
}

#status select {
  color: white;
  background-color: black;
  border-color: #33b5e5;
  font-size: 2em;
 ; font-family: 'Roboto';
  padding: 5px;
  -webkit-appearance: none;
}

#status option, #status label {
  font-size: 2em;
  margin-left: 50px;
  font-family: 'Roboto';
  color: white;
}

#status.ok {
  top: 1000px;
}

#status .status {
  margin: 50px;
  font-size: 2em;
}

#status .status:before {
  content: 'Searching for ';
}

#status .status.found:before {
  content: 'Found ';
}
